body{
    background-image: url("./../images/white.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 600%;
    background-attachment: scroll;
    

}

.container{
    margin: ;
    
}

.title{
    text-align: center;
}
.timer{
    text-align: center;
}
.button{
    text-align: center;
}


.question-box{
    border: solid black 4px;
    background-color: aqua;
    float: left;
    position: absolute;
    text-align: center;
    margin: auto;

}


